.container {
  height: 58px;
  background-color: var(--dark-teal);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid var(--burnt-orange);
}

.label {
  color: var(--light-blue);
  margin: 0 50px 0 0;
  text-align: center;
}
