.videoPlayer {
  height: calc(100vh - 130px);
  position: relative;

  /* Placeholder props */
  background-color: black;
  display: flex;
  justify-content: center;
}

.videoToolBar {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.icon {
  margin-right: 15px;
}

.logo {
  width: 100%;
  height: auto;
  display: block;
}

.logoContainer {
  margin: 20px;
}
