@import url("https://use.typekit.net/boh7gew.css");

:root {
  --cosmic-latte: #fff6e7;
  --maize: #f7c64e;
  --light-maize: #fcdb8c;
  --temptress: #3c1f1b;
  --burnt-orange: #a44a0d;
  --blue: #b8d8e0;
  --light-blue: #cddfe3;
  --dark-teal: #256155;
  --lime: #6ce25c;
  --black-coffee: #403428;
  --lavender: #b096d2;
  --vegas-gold: #d0a850;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: var(--cosmic-latte);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.abolitionRegular {
  font-family: "abolition", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.altText {
  font-family: "new-frank", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: x-small;
}

.newFrankRegular {
  font-family: "new-frank", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.newFrankBold {
  font-family: "new-frank", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inputMonoCondensedItalic {
  font-family: "input-mono-condensed", monospace;
  font-weight: 400;
  font-style: italic;
}

.inputMonoCondensed {
  font-family: "input-mono-condensed", monospace;
  font-weight: 400;
}

.atramentSemiBoldItalic {
  font-family: "atrament-web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.contentContainer {
  padding: 75px 40px;
  background-color: var(--cosmic-latte);
}

* > img {
  user-select: none;
}
