@import url("https://use.typekit.net/boh7gew.css");
@import url("https://use.typekit.net/boh7gew.css");

:root {
  --cosmic-latte: #fff6e7;
  --maize: #f7c64e;
  --temptress: #3c1f1b;
  --burnt-orange: #A44A0D;
  --light-blue: #B8D8E0;
  --dark-teal: #256155;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: var(--cosmic-latte);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.abolitionRegular {
  font-family: "abolition", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.altText {
  font-family: "new-frank", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: x-small;
}
